<div id="signin">
  <div class="vcenter">
  <h1>Welcome to the bootcamp</h1>
  <%= link_to 'signin', signin_path %>
  <%= link_to 'contact', contact_path %>
  <%= link_to 'signup', signup_path %>
  </div>
</div>
