body {
  margin: 0 auto;
  padding: 0;
}

.vcenter {
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact {
  position:relative;
  top: 50%;
  transform: translateY(-50%);

}

.signup {
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}
